In [47]:
import pandas as pd
import glob
glob.glob("*")

['cas_offinder_yli11_2021-03-09',
 'cas_offinder_yli11_2021-03-09_5cf2ab8ba8ed',
 'cas_offinder_yli11_2021-03-09_bcafab447c0d',
 'control.list',
 'human.list',
 'human_gene_id.tsv',
 'Human_RBP.csv',
 'mouse.list',
 'mouse_gene_id.tsv',
 'Mouse_RBP.csv',
 'README.md',
 'STable 02 AvanaLibrary.xlsx',
 'STable 03 AsiagoLibrary.xlsx',
 'Untitled.ipynb']

In [48]:
# human 
# human library (Avana) of 110,257 sgRNAs and a mouse library (Asiago) of 120,453 sgRNAs
df = pd.read_csv("human_gene_id.tsv",sep="\t",dtype=str)
df = df[['Ensembl gene ID','NCBI Gene ID']]
df = df[~df['NCBI Gene ID'].isnull()]
df = df.set_index("NCBI Gene ID")

In [24]:
df.head()

              Ensembl gene ID
NCBI Gene ID
1             ENSG00000121410
503538        ENSG00000268895
29974         ENSG00000148584
2             ENSG00000175899
144571        ENSG00000245105

In [10]:
f='STable 02 AvanaLibrary.xlsx'
xls = pd.ExcelFile(f)
df_list = []
for s in xls.sheet_names:
    df_list.append(pd.read_excel(f, s))

In [11]:
df2 = pd.concat(df_list)

In [27]:
df2['Annotated Gene ID'] = df2['Annotated Gene ID'].astype(str)
df2['ENSEMBL_ID'] = df2['Annotated Gene ID'].map(df['Ensembl gene ID'].to_dict())

In [33]:
myList = pd.read_csv("human.list",header=None)
print (myList.shape)
df2['is_RBP'] = df2['ENSEMBL_ID'].isin(myList[0])
df3 = df2[df2.is_RBP==True]
print (df3.ENSEMBL_ID.nunique())

(416, 1)
391

In [34]:
df3.head()

,Barcode Sequence,Annotated Gene Symbol,Annotated Gene ID,ENSEMBL_ID,is_RBP
55,AACACGGTCTTACACCCAGG,ENOX1,55068,ENSG00000120658,True
104,AACTATGGAGAATATGGCGG,TRMT1L,81627,ENSG00000121486,True
109,AACTCCCGCCCTACAAGCAG,G3BP2,9908,ENSG00000138757,True
122,AACTTGTTAGAAAAGACAGG,NOL8,55035,ENSG00000198000,True
141,AAGAAGGCTGTGCAAGGCGG,SNRPA,6626,ENSG00000077312,True

In [35]:
df3['sgRNA_id'] = df3['Annotated Gene Symbol'] + "_" + (df3.groupby('Annotated Gene Symbol').cumcount()+1).astype(str)

df3.to_csv("Human_RBP.csv",index=False)

In [45]:
# mouse
df = pd.read_csv("mouse_gene_id.tsv",sep="\t",dtype=str)
df = df[['Gene stable ID','NCBI gene (formerly Entrezgene) ID']]
df.columns = ['Ensembl gene ID','NCBI Gene ID']
df = df[~df['NCBI Gene ID'].isnull()]
df = df.set_index("NCBI Gene ID")
f='STable 03 AsiagoLibrary.xlsx'
xls = pd.ExcelFile(f)
df_list = []
for s in xls.sheet_names:
    df_list.append(pd.read_excel(f, s))
df2 = pd.concat(df_list)
df2['Annotated Gene ID'] = df2['Annotated Gene ID'].astype(str)
df2['ENSEMBL_ID'] = df2['Annotated Gene ID'].map(df['Ensembl gene ID'].to_dict())   
myList = pd.read_csv("mouse.list",header=None)
print (myList.shape)
df2['is_RBP'] = df2['ENSEMBL_ID'].isin(myList[0])
df3 = df2[df2.is_RBP==True]
print (df3.ENSEMBL_ID.nunique())    
df3['sgRNA_id'] = df3['Annotated Gene Symbol'] + "_" + (df3.groupby('Annotated Gene Symbol').cumcount()+1).astype(str)
df3.to_csv("Mouse_RBP.csv",index=False)

(415, 1)
374

C:\Users\yli11\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [46]:
df3.head()

,Barcode Sequence,Annotated Gene Symbol,Annotated Gene ID,ENSEMBL_ID,is_RBP,sgRNA_id
26,AAACGCTCTGGAAAACCCCG,Snrnp70,20637,ENSMUSG00000063511,True,Snrnp70_1
142,AACTTCTTCAGAGTGAACCG,Tep1,21745,ENSMUSG00000006281,True,Tep1_1
146,AACTTTCTCATCCATGGCCG,Hnrnpa2b1,53379,ENSMUSG00000004980,True,Hnrnpa2b1_1
185,AAGAGCAATGAAAGGAAAGG,Srek1,218543,ENSMUSG00000032621,True,Srek1_1
203,AAGATGCCCTGCAGAGAGCG,Fubp1,51886,ENSMUSG00000028034,True,Fubp1_1

26         Snrnp70_1
142           Tep1_1
146      Hnrnpa2b1_1
185          Srek1_1
203          Fubp1_1
            ...
20100       Tiparp_6
20106        Bicc1_6
20160         Srrt_6
20175         Tut1_6
20224        Taf15_6
Length: 2250, dtype: object