In [1]:
import pandas as pd
import glob
glob.glob("*")

['human_gene_id.tsv',
 'mouse_gene_id.tsv',
 'README.md',
 'STable 02 AvanaLibrary.xlsx',
 'STable 03 AsiagoLibrary.xlsx',
 'Untitled.ipynb']

In [23]:
# human 
# human library (Avana) of 110,257 sgRNAs and a mouse library (Asiago) of 120,453 sgRNAs
df = pd.read_csv("human_gene_id.tsv",sep="\t",dtype=str)
df = df[['Ensembl gene ID','NCBI Gene ID']]
df = df[~df['NCBI Gene ID'].isnull()]
df = df.set_index("NCBI Gene ID")

In [24]:
df.head()

              Ensembl gene ID
NCBI Gene ID
1             ENSG00000121410
503538        ENSG00000268895
29974         ENSG00000148584
2             ENSG00000175899
144571        ENSG00000245105

In [10]:
f='STable 02 AvanaLibrary.xlsx'
xls = pd.ExcelFile(f)
df_list = []
for s in xls.sheet_names:
    df_list.append(pd.read_excel(f, s))

In [11]:
df2 = pd.concat(df_list)

In [27]:
df2['Annotated Gene ID'] = df2['Annotated Gene ID'].astype(str)
df2['ENSEMBL_ID'] = df2['Annotated Gene ID'].map(df['Ensembl gene ID'].to_dict())

In [33]:
myList = pd.read_csv("human.list",header=None)
print (myList.shape)
df2['is_RBP'] = df2['ENSEMBL_ID'].isin(myList[0])
df3 = df2[df2.is_RBP==True]
print (df3.ENSEMBL_ID.nunique())

(416, 1)
391

In [34]:
df3.head()

,Barcode Sequence,Annotated Gene Symbol,Annotated Gene ID,ENSEMBL_ID,is_RBP
55,AACACGGTCTTACACCCAGG,ENOX1,55068,ENSG00000120658,True
104,AACTATGGAGAATATGGCGG,TRMT1L,81627,ENSG00000121486,True
109,AACTCCCGCCCTACAAGCAG,G3BP2,9908,ENSG00000138757,True
122,AACTTGTTAGAAAAGACAGG,NOL8,55035,ENSG00000198000,True
141,AAGAAGGCTGTGCAAGGCGG,SNRPA,6626,ENSG00000077312,True

In [35]:
df3.to_csv("Human_RBP.csv",index=False)

In [39]:
# mouse
df = pd.read_csv("mouse_gene_id.tsv",sep="\t",dtype=str)
df = df[['Gene stable ID','NCBI gene (formerly Entrezgene) ID']]
df.columns = ['Ensembl gene ID','NCBI Gene ID']
df = df[~df['NCBI Gene ID'].isnull()]
df = df.set_index("NCBI Gene ID")
f='STable 03 AsiagoLibrary.xlsx'
xls = pd.ExcelFile(f)
df_list = []
for s in xls.sheet_names:
    df_list.append(pd.read_excel(f, s))
df2 = pd.concat(df_list)
df2['Annotated Gene ID'] = df2['Annotated Gene ID'].astype(str)
df2['ENSEMBL_ID'] = df2['Annotated Gene ID'].map(df['Ensembl gene ID'].to_dict())   
myList = pd.read_csv("mouse.list",header=None)
print (myList.shape)
df2['is_RBP'] = df2['ENSEMBL_ID'].isin(myList[0])
df3 = df2[df2.is_RBP==True]
print (df3.ENSEMBL_ID.nunique())    
df3.to_csv("Mouse_RBP.csv",index=False)

(415, 1)
374